<main>
  <header class="row">
    <div class="main-header">
      <h2>CareerFoundry Blog</h2>
    </div>
  </header>

  <nav class="navbar" id="second-nav">
    <div class="container">
      <div class="row top">
        <input type="text" class="search-box hidden-xs" placeholder="Search">
      </div>

      <div class="bottom">
      <!-- mobile -->
      <div class="dropdown visible-xs">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu mobile">
          <li>All Topics</li>
          <li>UX Design</li>
          <li>UI Design</li>
          <li>Web Development</li>
          <li>IOS Development</li>
          <li>Career Change</li>
        </ul>

        <div class="search-button">
          <i class="fa fa-search"></i>
        </div><!-- search button -->
      </div>

          <!-- normal -->
      <div class="hidden-xs" id="blog-topics">
        <ul>
          <li>All Topics</li>
          <li>UX Design</li>
          <li>UI Design</li>
          <li>Web Development</li>
          <li>IOS Development</li>
          <li>Career Change</li>
        </ul>
      </div>
    </div><!-- row bottom -->

    </div>
  </nav>
</main>
