<% if signed_in? %>
<div class="row new-comment">
  <div class="sol-sm-12">
      <h4>Comments:</h4>
  </div>

  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="form-group col-sm-6">
      <%= f.text_area :body, class:"form-control", rows:"3", placeholder:"Write your comment here" %>
    </div>

    <div class="col-sm-12">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
<% end %>
