<main class="container-fluid">

  <header class="row">
    <div class="main-header">
      <h2>CareerFoundry Blog</h2>
    </div>
  </header>

  <div class="row top">
    <input type="text" class="search-box hidden-xs" placeholder="Search">
  </div>

  <div class="posts">
    <div class="row">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
  </div>
</main>
