<main class="container-fluid">

  <header class="row">
    <div class="main-header">
      <h2>CareerFoundry Blog</h2>
    </div>
  </header>

  <div class="row top">
    <input type="text" class="search-box hidden-xs" placeholder="Search">
  </div>

  <div class="row new-link">
    <%= link_to 'New post', new_post_path(@post), class: "btn btn-primary" %>
  </div>


  <div class="row">
    <div class="posts">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
  </div>
</main>
