/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  font-family: Rubik;
  color: white;
}
      /* ============== */
      /* === navbar === */
      /* ============== */

.navbar {
  background-color: #233c4f;
  padding-bottom: 10px;
}

.icon-bar{
  background-color: white;
}


.navbar li a {
  color: white;
}

.navbar li a:link {
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #233c4f;
  color: #84e1da;
}

.navbar .main-link a:hover  {
  background-color: #233c4f;
  color: #84e1da;
}

.dropdown-menu li {
  color: #a7b1b9;
  font-size: 9px;
  padding-left: 20px;
  margin-top: 10px;
}

.dropdown-menu li a {
  color: #84e1da;
  font-size: 14px;
}

.dropdown-menu li a:hover {
  background-color: white;
}


      /* ============== */
      /* === footer === */
      /* ============== */

#footer{
  background-image: url(images-path('careeryouwant.jpg');
  height: 400px;
  margin-bottom: -15px;
  width: 100%;
}


.learn-more {
  position: relative;
  text-align: center;
  padding: 10px;
}

.learn-more .logo {
  width: 60px;
  height: 60px;
}

footer {
  background-color: #233c4f;
  padding: 20px;
  width: 100%;
 }

.footer-content{
  width: 80%;
  margin: auto;
  margin-top: 20px;
 }

ul {
  list-style-type: none;
}

ul li {
  padding-bottom: 10px;
}

.footer-title{
  color: #a7b1b9;
  font-size: 9px;
}

.links a {
  color: white;
}

.links a:link {
  text-decoration: none;
}

.links a:hover {
  color: #84e1da;
}

.bottom {
  margin-top: 20px;
  margin-left: -50px
}

.bottom li {
  display: inline;
  padding: 0 8px;
  border-right: 1px solid white;
  font-size: 10px;
}

.bottom li:last-child {
  border: none;
}

.side {
  margin-right: 20px;
}

  /* === form === */
form .form-boxes{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-title{
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-box{
  padding-left: 10px;
}

.box-borders{
  border-radius: 0px;
  border: none;
}

form .btn {
  background-color: #5ea2b1;
  color: white;
}

.anchor {
  margin-right: 10px;
}

.media {
  display: inline-flex;
}

.media li {
  padding: 10px;
}

.media li .image-off {
  display: none;
}

.media li:hover .image-on{
   display: none;
}
.media li:hover .image-off{
   display:block;
}
